<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">IT Renovate "Servicios y productos tecnológicos"</a>
      <nav class="nav justify-content-right">
        <a class="nav-link" href="/index">Home</a>
        <a class="nav-link" href="/productos">Productos</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/carrito">Carrito</a>
      </nav>
    </div>
</nav>